*.iml
.idea
.gradle
/tools
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/release
/captures
.externalNativeBuild
*.apk
*.exe
.idea/caches/build_file_checksums.ser
replay_pid11132.log
hs_err_pid11132.log
.idea/jarRepositories.xml
inrt/release/output.json
inrt/coolapk/release/output.json
app/common/release/app-common-release.aab
app/common/release/output-metadata.json
*.log
autojs/.cxx/ndk_locator_record_68547592.json
autojs/.cxx/ndk_locator_record_68547592_key.json
