<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <activity
            android:name=".EditActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:configChanges="orientation|screenSize|uiMode"
            android:launchMode="singleTask"
            android:taskAffinity="task.editor"
            >

        </activity>
    </application>
</manifest>