<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name= "android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />


    <!-- 非auto_js运行必需，不会主动申请，某些脚本可以自行申请-->
    <uses-permission android:name= "android.permission.ACCEPT_HANDOVER" />
    <uses-permission android:name= "android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name= "android.permission.ACCESS_BLOBS_ACROSS_USERS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.ACCESS_CHECKIN_PROPERTIES"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name= "android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name= "android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name= "android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name= "android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name= "android.permission.ACCOUNT_MANAGER"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name= "com.android.voicemail.permission.ADD_VOICEMAIL" />
    <uses-permission android:name= "android.permission.ANSWER_PHONE_CALLS" />
    <uses-permission android:name= "android.permission.BATTERY_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.BIND_ACCESSIBILITY_SERVICE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.BIND_APPWIDGET"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.BIND_AUTOFILL_SERVICE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.BIND_CALL_REDIRECTION_SERVICE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.BIND_CARRIER_MESSAGING_CLIENT_SERVICE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.BIND_CARRIER_MESSAGING_SERVICE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.BIND_CARRIER_SERVICES"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.BIND_CHOOSER_TARGET_SERVICE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.BIND_COMPANION_DEVICE_SERVICE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.BIND_CONDITION_PROVIDER_SERVICE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.BIND_CONTROLS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.BIND_DEVICE_ADMIN"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.BIND_DREAM_SERVICE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.BIND_INCALL_SERVICE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.BIND_INPUT_METHOD"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.BIND_MIDI_DEVICE_SERVICE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.BIND_NFC_SERVICE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.BIND_PRINT_SERVICE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.BIND_QUICK_ACCESS_WALLET_SERVICE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.BIND_QUICK_SETTINGS_TILE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.BIND_REMOTEVIEWS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.BIND_SCREENING_SERVICE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.BIND_TELECOM_CONNECTION_SERVICE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.BIND_TEXT_SERVICE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.BIND_TV_INPUT"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.BIND_VISUAL_VOICEMAIL_SERVICE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.BIND_VOICE_INTERACTION"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.BIND_VPN_SERVICE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.BIND_VR_LISTENER_SERVICE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.BIND_WALLPAPER"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.BLUETOOTH" />
    <uses-permission android:name= "android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name= "android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name= "android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name= "android.permission.BLUETOOTH_PRIVILEGED"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name= "android.permission.BODY_SENSORS" />
    <uses-permission android:name= "android.permission.BROADCAST_PACKAGE_REMOVED"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.BROADCAST_SMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.BROADCAST_STICKY" />
    <uses-permission android:name= "android.permission.BROADCAST_WAP_PUSH"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.CALL_COMPANION_APP" />
    <uses-permission android:name= "android.permission.CALL_PHONE" />
    <uses-permission android:name= "android.permission.CALL_PRIVILEGED"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.CAMERA" />
    <uses-permission android:name= "android.permission.CAPTURE_AUDIO_OUTPUT"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.CHANGE_COMPONENT_ENABLED_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.CHANGE_CONFIGURATION"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name= "android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name= "android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name= "android.permission.CLEAR_APP_CACHE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.CONTROL_LOCATION_UPDATES"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.DELETE_CACHE_FILES"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.DELETE_PACKAGES"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.DIAGNOSTIC"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name= "android.permission.DUMP"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name= "android.permission.FACTORY_TEST"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.GET_ACCOUNTS" />
    <uses-permission android:name= "android.permission.GET_ACCOUNTS_PRIVILEGED"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.GET_PACKAGE_SIZE" />
    <uses-permission android:name= "android.permission.GET_TASKS" />
    <uses-permission android:name= "android.permission.GLOBAL_SEARCH"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.HIDE_OVERLAY_WINDOWS" />
    <uses-permission android:name= "android.permission.HIGH_SAMPLING_RATE_SENSORS" />
    <uses-permission android:name= "android.permission.INSTALL_LOCATION_PROVIDER"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.INSTALL_PACKAGES"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.INSTANT_APP_FOREGROUND_SERVICE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.INTERACT_ACROSS_PROFILES"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name= "android.permission.LAUNCH_MULTI_PANE_SETTINGS_DEEP_LINK" />
    <uses-permission android:name= "android.permission.LOADER_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.LOCATION_HARDWARE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.MANAGE_DOCUMENTS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.MANAGE_MEDIA"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.MANAGE_ONGOING_CALLS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.MANAGE_OWN_CALLS" />
    <uses-permission android:name= "android.permission.MASTER_CLEAR"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.MEDIA_CONTENT_CONTROL"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name= "android.permission.MODIFY_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.MOUNT_FORMAT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.NFC" />
    <uses-permission android:name= "android.permission.NFC_PREFERRED_PAYMENT_INFO" />
    <uses-permission android:name= "android.permission.NFC_TRANSACTION_EVENT" />
    <uses-permission android:name= "android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.PERSISTENT_ACTIVITY" />
    <uses-permission android:name= "android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name= "android.permission.QUERY_ALL_PACKAGES" />
    <uses-permission android:name= "android.permission.READ_CALENDAR" />
    <uses-permission android:name= "android.permission.READ_CALL_LOG" />
    <uses-permission android:name= "android.permission.READ_CONTACTS" />
    <uses-permission android:name= "android.permission.READ_INPUT_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name= "android.permission.READ_PHONE_STATE" />
    <uses-permission android:name= "android.permission.READ_PRECISE_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.READ_SMS" />
    <uses-permission android:name= "android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name= "android.permission.READ_SYNC_STATS" />
    <uses-permission android:name= "com.android.voicemail.permission.READ_VOICEMAIL"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.REBOOT"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.RECEIVE_MMS" />
    <uses-permission android:name= "android.permission.RECEIVE_SMS" />
    <uses-permission android:name= "android.permission.RECEIVE_WAP_PUSH" />
    <uses-permission android:name= "android.permission.RECORD_AUDIO" />
    <uses-permission android:name= "android.permission.REORDER_TASKS" />
    <uses-permission android:name= "android.permission.REQUEST_COMPANION_PROFILE_WATCH" />
    <uses-permission android:name= "android.permission.REQUEST_COMPANION_RUN_IN_BACKGROUND" />
    <uses-permission android:name= "android.permission.REQUEST_COMPANION_START_FOREGROUND_SERVICES_FROM_BACKGROUND" />
    <uses-permission android:name= "android.permission.REQUEST_COMPANION_USE_DATA_IN_BACKGROUND" />
    <uses-permission android:name= "android.permission.REQUEST_DELETE_PACKAGES" />
    <uses-permission android:name= "android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name= "android.permission.REQUEST_OBSERVE_COMPANION_DEVICE_PRESENCE" />
    <uses-permission android:name= "android.permission.REQUEST_PASSWORD_COMPLEXITY" />
    <uses-permission android:name= "android.permission.RESTART_PACKAGES" />
    <uses-permission android:name= "android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name= "android.permission.SEND_RESPOND_VIA_MESSAGE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.SEND_SMS" />
    <uses-permission android:name= "com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name= "android.permission.SET_ALWAYS_FINISH"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.SET_ANIMATION_SCALE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.SET_DEBUG_APP"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.SET_PREFERRED_APPLICATIONS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.SET_PROCESS_LIMIT"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.SET_TIME"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.SET_TIME_ZONE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.SET_WALLPAPER" />
    <uses-permission android:name= "android.permission.SET_WALLPAPER_HINTS" />
    <uses-permission android:name= "android.permission.SIGNAL_PERSISTENT_PROCESSES"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.SMS_FINANCIAL_TRANSACTIONS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.START_FOREGROUND_SERVICES_FROM_BACKGROUND"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.START_VIEW_PERMISSION_USAGE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.STATUS_BAR"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.TRANSMIT_IR" />
    <uses-permission android:name= "android.permission.UPDATE_DEVICE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.UPDATE_PACKAGES_WITHOUT_USER_ACTION" />
    <uses-permission android:name= "android.permission.USE_BIOMETRIC" />
    <uses-permission android:name= "android.permission.USE_FINGERPRINT" />
    <uses-permission android:name= "android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name= "android.permission.USE_ICC_AUTH_WITH_DEVICE_IDENTIFIER"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.USE_SIP" />
    <uses-permission android:name= "android.permission.UWB_RANGING" />
    <uses-permission android:name= "android.permission.VIBRATE" />
    <uses-permission android:name= "android.permission.WAKE_LOCK" />
    <uses-permission android:name= "android.permission.WRITE_APN_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.WRITE_CALENDAR" />
    <uses-permission android:name= "android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name= "android.permission.WRITE_CONTACTS" />
    <uses-permission android:name= "android.permission.WRITE_GSERVICES"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name= "com.android.voicemail.permission.WRITE_VOICEMAIL"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name="com.stardust.auojs.inrt.App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="${appName}"
        android:supportsRtl="true"
        android:theme="@style/ScriptTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:label, android:allowBackup"
        tools:targetApi="m">
        <activity
            android:name="com.stardust.auojs.inrt.LoginActivity"
            android:label="@string/title_activity_login" />

        <activity android:name="com.stardust.auojs.inrt.LogActivity" />
        <activity android:name="com.stardust.auojs.inrt.FeatureActivity" />

        <activity
            android:name="com.stardust.auojs.inrt.SplashActivity"
            android:clearTaskOnLaunch="true"
            android:finishOnTaskLaunch="true"
            android:theme="@style/ScriptTheme.Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.stardust.auojs.inrt.SettingsActivity" />

        <service
            android:name="com.stardust.notification.NotificationListenerService"
            android:label="inrt"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:exported="false">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.stardust.auojs.inrt.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <provider
            android:name="com.google.mlkit.common.internal.MlKitInitProvider"
            android:authorities="${applicationId}.mlkitinitprovider"
            tools:node="remove" />
    </application>

</manifest>
