<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <!--  必要权限  -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!--  ========================  -->

    <application
        android:name="com.stardust.auojs.inrt.App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="${appName}"
        android:supportsRtl="true"
        android:theme="@style/ScriptTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:label, android:allowBackup">
        <activity
            android:name="com.stardust.auojs.inrt.LoginActivity"
            android:label="@string/title_activity_login"
            android:process="@string/text_script_process_name" />

        <activity
            android:name="com.stardust.auojs.inrt.LogActivity"
            android:process="@string/text_script_process_name" />
        <activity
            android:name="com.stardust.auojs.inrt.FeatureActivity"
            android:process="@string/text_script_process_name" />

        <activity
            android:name="com.stardust.auojs.inrt.SplashActivity"
            android:clearTaskOnLaunch="true"
            android:exported="true"
            android:finishOnTaskLaunch="true"
            android:process="@string/text_script_process_name"
            android:theme="@style/ScriptTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.stardust.auojs.inrt.SettingsActivity"
            android:process="@string/text_script_process_name" />

        <service
            android:name="com.stardust.notification.NotificationListenerService"
            android:exported="false"
            android:label="inrt"
            android:process="@string/text_script_process_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.stardust.auojs.inrt.fileprovider"
            android:exported="false"
            android:process="@string/text_script_process_name"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <provider
            android:name="com.google.mlkit.common.internal.MlKitInitProvider"
            android:authorities="${applicationId}.mlkitinitprovider"
            tools:node="remove" />
    </application>

</manifest>
